* {
  box-sizing: border-box;
  color: #4D5B9E;
  font-family: 'Inter', sans-serif;
  margin: 0;
}



body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  /*  for start button
  display: flex; 
  justify-content: center; */ 
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  padding: 40px 75px;
}

/* 
 for start button
.intro-page {
  align-self: center;
} */


.intro-page > h1 {

  margin-bottom: 7px;
  font-size: 31.25px;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  
  
}

.intro-page > p {
  margin-bottom: 29px;
  font-size: 16px;
  font-weight: 400;

}

.question {
  min-width: 400px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 1px solid #4D5B9E;
  

}
.question > * {
  margin-bottom: 10px;

}

.question--answer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}


.answer > *{
  display: inline;
}

/*
  utitlity styling 
*/


.button {
  color: white;
  background: #4D5B9E;
  border: none;
  cursor: pointer;
}
/* start button */
.start {
  padding: 0 55px;
  height: 52px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500; 
}
/* in game button */
.in-game {
  padding: 0 30px;
  height: 35px;
  border-radius: 10px;
}

/* game font color */
.answer, .selected, .correct, .incorrect {
  color: #4D5B9E;
}

/* answer displayed unselected */
.answer {
  height: 20px;
  padding: 5px 15px;
  border: 1px solid #4D5B9E;
  background: white;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  
}

/* answer selected, correct, and incorrect with no border */
.selected, .correct, .incorrect {
  border: none;
} 

/* answer displayed selected */

.selected {
  background: #D6DBF5;
}
/* answer correct */
.correct {
  
  background-color: #94D7A2;
}
/* answer incorrect */
.incorrect {
  background: #F8BCBC;
  
}




